doxygen/output/html
installer/output
installer/packages
src/.tm_project.cache
src/.tm_project2.cache
src/Bombermaaan/Debug
src/Bombermaaan/Release
src/RES/Debug
src/RES/Release
src/RES32/Debug
src/RES32/Release
src/third-party/SDL
src/third-party/SDL_mixer

*.o
*.depend

# copied audio files
RES/SOUND
RES32/SOUND

# generated data file
RESGEN/ResData.c
