* text=auto !eol
/COPYING.txt -text
docs/Readme.html -text
docs/how-to-compile.txt -text
images/Convert_svg2png.cmd -text
images/Title.svg -text
installer/HeaderImage.bmp -text
installer/HeaderImage.xcf -text
installer/InstallScript.nsi -text
src/Bombermaaan.dsw -text
src/Bombermaaan.sln -text
src/Bombermaaan/Bombermaaan.dsp -text
src/Bombermaaan/Bombermaaan.rc -text
src/Bombermaaan/Bombermaaan.vcproj -text
src/Bombermaaan/CAiArena.cpp -text
src/Bombermaaan/CAiArena.h -text
src/Bombermaaan/CAiBomber.cpp -text
src/Bombermaaan/CAiBomber.h -text
src/Bombermaaan/CAiManager.cpp -text
src/Bombermaaan/CAiManager.h -text
src/Bombermaaan/CArena.cpp -text
src/Bombermaaan/CArena.h -text
src/Bombermaaan/CArenaCloser.cpp -text
src/Bombermaaan/CArenaCloser.h -text
src/Bombermaaan/CArenaSnapshot.cpp -text
src/Bombermaaan/CArenaSnapshot.h -text
src/Bombermaaan/CBoard.cpp -text
src/Bombermaaan/CBoard.h -text
src/Bombermaaan/CBomb.cpp -text
src/Bombermaaan/CBomb.h -text
src/Bombermaaan/CBomber.cpp -text
src/Bombermaaan/CBomber.h -text
src/Bombermaaan/CBomberMove.cpp -text
src/Bombermaaan/CBomberMove.h -text
src/Bombermaaan/CClock.cpp -text
src/Bombermaaan/CClock.h -text
src/Bombermaaan/CCloudManager.cpp -text
src/Bombermaaan/CCloudManager.h -text
src/Bombermaaan/CCommandChunk.cpp -text
src/Bombermaaan/CCommandChunk.h -text
src/Bombermaaan/CConsole.cpp -text
src/Bombermaaan/CConsole.h -text
src/Bombermaaan/CControls.cpp -text
src/Bombermaaan/CControls.h -text
src/Bombermaaan/CDebug.cpp -text
src/Bombermaaan/CDebug.h -text
src/Bombermaaan/CDemo.cpp -text
src/Bombermaaan/CDemo.h -text
src/Bombermaaan/CDirectDraw.cpp -text
src/Bombermaaan/CDirectDraw.h -text
src/Bombermaaan/CDirectInput.cpp -text
src/Bombermaaan/CDirectInput.h -text
src/Bombermaaan/CDisplay.cpp -text
src/Bombermaaan/CDisplay.h -text
src/Bombermaaan/CDrawGame.cpp -text
src/Bombermaaan/CDrawGame.h -text
src/Bombermaaan/CElement.cpp -text
src/Bombermaaan/CElement.h -text
src/Bombermaaan/CExplosion.cpp -text
src/Bombermaaan/CExplosion.h -text
src/Bombermaaan/CFloor.cpp -text
src/Bombermaaan/CFloor.h -text
src/Bombermaaan/CFont.cpp -text
src/Bombermaaan/CFont.h -text
src/Bombermaaan/CGame.cpp -text
src/Bombermaaan/CGame.h -text
src/Bombermaaan/CHurryMessage.cpp -text
src/Bombermaaan/CHurryMessage.h -text
src/Bombermaaan/CInput.cpp -text
src/Bombermaaan/CInput.h -text
src/Bombermaaan/CItem.cpp -text
src/Bombermaaan/CItem.h -text
src/Bombermaaan/CLog.cpp -text
src/Bombermaaan/CLog.h -text
src/Bombermaaan/CMainInput.cpp -text
src/Bombermaaan/CMainInput.h -text
src/Bombermaaan/CMatch.cpp -text
src/Bombermaaan/CMatch.h -text
src/Bombermaaan/CMenu.cpp -text
src/Bombermaaan/CMenu.h -text
src/Bombermaaan/CMenuBase.cpp -text
src/Bombermaaan/CMenuBase.h -text
src/Bombermaaan/CMenuBomber.cpp -text
src/Bombermaaan/CMenuBomber.h -text
src/Bombermaaan/CMenuInput.cpp -text
src/Bombermaaan/CMenuInput.h -text
src/Bombermaaan/CMenuLevel.cpp -text
src/Bombermaaan/CMenuLevel.h -text
src/Bombermaaan/CMenuMatch.cpp -text
src/Bombermaaan/CMenuMatch.h -text
src/Bombermaaan/CMenuYesNo.cpp -text
src/Bombermaaan/CMenuYesNo.h -text
src/Bombermaaan/CModeScreen.cpp -text
src/Bombermaaan/CModeScreen.h -text
src/Bombermaaan/CMosaic.cpp -text
src/Bombermaaan/CMosaic.h -text
src/Bombermaaan/COptions.cpp -text
src/Bombermaaan/COptions.h -text
src/Bombermaaan/CPauseMessage.cpp -text
src/Bombermaaan/CPauseMessage.h -text
src/Bombermaaan/CPlayerInput.cpp -text
src/Bombermaaan/CPlayerInput.h -text
src/Bombermaaan/CRandomMosaic.cpp -text
src/Bombermaaan/CRandomMosaic.h -text
src/Bombermaaan/CScores.cpp -text
src/Bombermaaan/CScores.h -text
src/Bombermaaan/CScroller.cpp -text
src/Bombermaaan/CScroller.h -text
src/Bombermaaan/CSound.cpp -text
src/Bombermaaan/CSound.h -text
src/Bombermaaan/CTimer.h -text
src/Bombermaaan/CTitle.cpp -text
src/Bombermaaan/CTitle.h -text
src/Bombermaaan/CVictory.cpp -text
src/Bombermaaan/CVictory.h -text
src/Bombermaaan/CWall.cpp -text
src/Bombermaaan/CWall.h -text
src/Bombermaaan/CWindow.cpp -text
src/Bombermaaan/CWindow.h -text
src/Bombermaaan/CWinner.cpp -text
src/Bombermaaan/CWinner.h -text
src/Bombermaaan/RESOURCE.H -text
src/Bombermaaan/STDAFX.CPP -text
src/Bombermaaan/STDAFX.H -text
src/Bombermaaan/WinMain.cpp -text
src/RES/RES.dsp -text
src/RES/RES.vcproj -text
src/_Test_/Debug/Levels/L1.TXT -text
src/_Test_/Debug/Levels/L2.TXT -text
src/_Test_/Debug/Levels/L3.TXT -text
src/_Test_/Debug/Levels/L4.TXT -text
src/_Test_/Debug/Levels/L5.TXT -text
src/_Test_/Debug/Levels/L6.TXT -text
src/_Test_/Release/Levels/L1.TXT -text
src/_Test_/Release/Levels/L2.TXT -text
src/_Test_/Release/Levels/L3.TXT -text
src/_Test_/Release/Levels/L4.TXT -text
src/_Test_/Release/Levels/L5.TXT -text
src/_Test_/Release/Levels/L6.TXT -text
web/css.php -text
web/download.php -text
web/faq.php -text
web/images/title.png -text
web/inc/webpage.php -text
web/index.php -text
web/license.php -text
web/screenshots.php -text
web/standard.css -text
web/todo.php -text
