* text=auto !eol
/COPYING.txt -text
docs/Compile[!!-~]instructions.dox -text
docs/Doxyfile -text
docs/Level_File_Layout_Version2.html -text
docs/Readme.html -text
docs/_generate.cmd -text
docs/_main.txt -text
docs/control.txt -text
doxygen/Doxyfile.txt -text
doxygen/HTML[!!-~]footer.txt -text
doxygen/HTML[!!-~]header.txt -text
doxygen/_generate.cmd -text
images/Bombermaaan_Icon.png -text
images/Bombermaaan_Icon.svg -text
images/Convert_all_svg2png.cmd -text
images/Convert_svg2png.cmd -text
images/Title.bmp -text
images/Title.png -text
images/Title.svg -text
images/blocksize_32/Convert_svg2png2bmp.cmd -text
images/blocksize_32/_generated/background-title.bmp -text
images/blocksize_32/_generated/background-title.png -text
images/blocksize_32/backgrounds/background-title.svg -text
images/blocksize_32/bombers/arena_bomber_death_sprite0.xcf -text
images/blocksize_32/bombers/arena_bomber_death_sprite1.xcf -text
images/blocksize_32/bombers/arena_bomber_death_sprite2.xcf -text
images/blocksize_32/items/Item_Bomb.svg -text
images/blocksize_32/items/Item_Flame.svg -text
images/blocksize_32/items/Item_Kick.svg -text
images/blocksize_32/items/Item_Punch.svg -text
images/blocksize_32/items/Item_Roller.svg -text
images/blocksize_32/items/Item_Skull.svg -text
images/blocksize_32/items/Item_Throw.svg -text
images/blocksize_32/patterns/analyze-32.php -text
images/blocksize_32/patterns/item-0.png -text
images/blocksize_32/patterns/item-1.png -text
images/blocksize_32/patterns/item-2.png -text
images/blocksize_32/patterns/item-3.png -text
images/blocksize_32/patterns/item-4.png -text
images/blocksize_32/patterns/item-5.png -text
images/blocksize_32/patterns/item-6.png -text
images/blocksize_32/patterns/stunt-back-32.png -text
images/blocksize_32/patterns/stunt-front-32.png -text
images/blocksize_32/patterns/stunt-side-32.png -text
images/blocksize_32/patterns/transform_png-color-32.php -text
images/blocksize_32/patterns/transform_stunt-32.php -text
images/gimp-scripts/bm-color-bombers.scm -text
installer/Bombermaaan_1.3.0.423_setup_Vista_notes.txt -text
installer/HeaderImage.bmp -text
installer/HeaderImage.xcf -text
installer/HeaderImage_Innosetup.bmp -text
installer/HeaderImage_Innosetup.xcf -text
installer/InstallScript.iss -text
installer/InstallScript.nsi -text
src/.anjuta/default.profile -text
src/.anjuta/session/anjuta.session -text
src/.anjuta/session/dock-layout.xml -text
src/Bombermaaan.anjuta -text
src/Bombermaaan.dsw -text
src/Bombermaaan.sln -text
src/Bombermaaan/Bombermaaan.dsp -text
src/Bombermaaan/Bombermaaan.ico -text
src/Bombermaaan/Bombermaaan.rc -text
src/Bombermaaan/Bombermaaan.vcproj -text
src/Bombermaaan/BombermaaanIco.h -text
src/Bombermaaan/Bombermaaan_mingw32.rc -text
src/Bombermaaan/CAiArena.cpp -text
src/Bombermaaan/CAiArena.h -text
src/Bombermaaan/CAiBomber.cpp -text
src/Bombermaaan/CAiBomber.h -text
src/Bombermaaan/CAiManager.cpp -text
src/Bombermaaan/CAiManager.h -text
src/Bombermaaan/CArena.cpp -text
src/Bombermaaan/CArena.h -text
src/Bombermaaan/CArenaCloser.cpp -text
src/Bombermaaan/CArenaCloser.h -text
src/Bombermaaan/CArenaSnapshot.cpp -text
src/Bombermaaan/CArenaSnapshot.h -text
src/Bombermaaan/CBoard.cpp -text
src/Bombermaaan/CBoard.h -text
src/Bombermaaan/CBomb.cpp -text
src/Bombermaaan/CBomb.h -text
src/Bombermaaan/CBomber.cpp -text
src/Bombermaaan/CBomber.h -text
src/Bombermaaan/CBomberMove.cpp -text
src/Bombermaaan/CBomberMove.h -text
src/Bombermaaan/CClock.cpp -text
src/Bombermaaan/CClock.h -text
src/Bombermaaan/CCloudManager.cpp -text
src/Bombermaaan/CCloudManager.h -text
src/Bombermaaan/CCommandChunk.cpp -text
src/Bombermaaan/CCommandChunk.h -text
src/Bombermaaan/CConsole.cpp -text
src/Bombermaaan/CConsole.h -text
src/Bombermaaan/CControls.cpp -text
src/Bombermaaan/CControls.h -text
src/Bombermaaan/CDebug.cpp -text
src/Bombermaaan/CDebug.h -text
src/Bombermaaan/CDemo.cpp -text
src/Bombermaaan/CDemo.h -text
src/Bombermaaan/CDirectDraw.cpp -text
src/Bombermaaan/CDirectDraw.h -text
src/Bombermaaan/CDirectInput.cpp -text
src/Bombermaaan/CDirectInput.h -text
src/Bombermaaan/CDisplay.cpp -text
src/Bombermaaan/CDisplay.h -text
src/Bombermaaan/CDrawGame.cpp -text
src/Bombermaaan/CDrawGame.h -text
src/Bombermaaan/CElement.cpp -text
src/Bombermaaan/CElement.h -text
src/Bombermaaan/CExplosion.cpp -text
src/Bombermaaan/CExplosion.h -text
src/Bombermaaan/CFloor.cpp -text
src/Bombermaaan/CFloor.h -text
src/Bombermaaan/CFont.cpp -text
src/Bombermaaan/CFont.h -text
src/Bombermaaan/CGame.cpp -text
src/Bombermaaan/CGame.h -text
src/Bombermaaan/CHurryMessage.cpp -text
src/Bombermaaan/CHurryMessage.h -text
src/Bombermaaan/CInput.cpp -text
src/Bombermaaan/CInput.h -text
src/Bombermaaan/CItem.cpp -text
src/Bombermaaan/CItem.h -text
src/Bombermaaan/CLog.cpp -text
src/Bombermaaan/CLog.h -text
src/Bombermaaan/CMainInput.cpp -text
src/Bombermaaan/CMainInput.h -text
src/Bombermaaan/CMatch.cpp -text
src/Bombermaaan/CMatch.h -text
src/Bombermaaan/CMenu.cpp -text
src/Bombermaaan/CMenu.h -text
src/Bombermaaan/CMenuBase.cpp -text
src/Bombermaaan/CMenuBase.h -text
src/Bombermaaan/CMenuBomber.cpp -text
src/Bombermaaan/CMenuBomber.h -text
src/Bombermaaan/CMenuInput.cpp -text
src/Bombermaaan/CMenuInput.h -text
src/Bombermaaan/CMenuLevel.cpp -text
src/Bombermaaan/CMenuLevel.h -text
src/Bombermaaan/CMenuMatch.cpp -text
src/Bombermaaan/CMenuMatch.h -text
src/Bombermaaan/CMenuYesNo.cpp -text
src/Bombermaaan/CMenuYesNo.h -text
src/Bombermaaan/CModeScreen.cpp -text
src/Bombermaaan/CModeScreen.h -text
src/Bombermaaan/CMosaic.cpp -text
src/Bombermaaan/CMosaic.h -text
src/Bombermaaan/COptions.cpp -text
src/Bombermaaan/COptions.h -text
src/Bombermaaan/CPauseMessage.cpp -text
src/Bombermaaan/CPauseMessage.h -text
src/Bombermaaan/CPlayerInput.cpp -text
src/Bombermaaan/CPlayerInput.h -text
src/Bombermaaan/CRandomMosaic.cpp -text
src/Bombermaaan/CRandomMosaic.h -text
src/Bombermaaan/CSDLInput.cpp -text
src/Bombermaaan/CSDLInput.h -text
src/Bombermaaan/CSDLVideo.cpp -text
src/Bombermaaan/CSDLVideo.h -text
src/Bombermaaan/CScores.cpp -text
src/Bombermaaan/CScores.h -text
src/Bombermaaan/CScroller.cpp -text
src/Bombermaaan/CScroller.h -text
src/Bombermaaan/CSound.cpp -text
src/Bombermaaan/CSound.h -text
src/Bombermaaan/CTimer.h -text
src/Bombermaaan/CTitle.cpp -text
src/Bombermaaan/CTitle.h -text
src/Bombermaaan/CVictory.cpp -text
src/Bombermaaan/CVictory.h -text
src/Bombermaaan/CWall.cpp -text
src/Bombermaaan/CWall.h -text
src/Bombermaaan/CWindow.cpp -text
src/Bombermaaan/CWindow.h -text
src/Bombermaaan/CWinner.cpp -text
src/Bombermaaan/CWinner.h -text
src/Bombermaaan/Makefile -text
src/Bombermaaan/Makefile.win -text
src/Bombermaaan/RESOURCE.H -text
src/Bombermaaan/STDAFX.CPP -text
src/Bombermaaan/STDAFX.H -text
src/Bombermaaan/WinMain.cpp -text
src/Bombermaaan/winreplace.cpp -text
src/Bombermaaan/winreplace.h -text
src/CHANGELOG.txt -text
src/Makefile -text
src/RES/IMAGE/arena_arrows.bmp -text
src/RES/IMAGE/arena_arrows.xcf -text
src/RES/Makefile.win -text
src/RES/RES.CPP -text
src/RES/RES.dsp -text
src/RES/RES.vcproj -text
src/RES/ReadMe.txt -text
src/RES/StdAfx.cpp -text
src/RES/StdAfx.h -text
src/RES/resource.h -text
src/RES/resource.rc -text
src/RES32/IMAGE/arena_arrows.bmp -text
src/RES32/IMAGE/arena_arrows.xcf -text
src/RES32/IMAGE/arena_fire.bmp -text
src/RES32/IMAGE/arena_fire.xcf -text
src/RES32/IMAGE/arena_flame.bmp -text
src/RES32/IMAGE/arena_flame.xcf -text
src/RES32/IMAGE/arena_floor.bmp -text
src/RES32/IMAGE/arena_fly.bmp -text
src/RES32/IMAGE/arena_hurry.bmp -text
src/RES32/IMAGE/arena_hurry.xcf -text
src/RES32/IMAGE/arena_item_0-bomb.xcf -text
src/RES32/IMAGE/arena_item_1-flame.xcf -text
src/RES32/IMAGE/arena_item_7-remotecontrol.xcf -text
src/RES32/IMAGE/arena_item_template.xcf -text
src/RES32/IMAGE/arena_pause.bmp -text
src/RES32/IMAGE/arena_pause.xcf -text
src/RES32/IMAGE/board_background.bmp -text
src/RES32/IMAGE/drawgame_main.xcf -text
src/RES32/IMAGE/title_background.bmp -text
src/RES32/IMAGE/title_cloud_1.bmp -text
src/RES32/IMAGE/title_cloud_1.xcf -text
src/RES32/IMAGE/title_title.bmp -text
src/RES32/IMAGE/victory_title.bmp -text
src/RES32/IMAGE/victory_title.xcf -text
src/RES32/Makefile.win -text
src/RES32/RES.CPP -text
src/RES32/RES32.dsp -text
src/RES32/RES32.vcproj -text
src/RES32/StdAfx.cpp -text
src/RES32/StdAfx.h -text
src/RES32/resource.h -text
src/RES32/resource.rc -text
src/RESGEN/Makefile -text
src/RESGEN/ResGen.cpp -text
src/RESGEN/ResGen.h -text
src/_Test_/Debug/Levels/L1.TXT -text
src/_Test_/Debug/Levels/L2.TXT -text
src/_Test_/Debug/Levels/L3.TXT -text
src/_Test_/Debug/Levels/L4.TXT -text
src/_Test_/Debug/Levels/L5.TXT -text
src/_Test_/Debug/Levels/L6.TXT -text
src/_Test_/Release/Levels/L1.TXT -text
src/_Test_/Release/Levels/L2.TXT -text
src/_Test_/Release/Levels/L3.TXT -text
src/_Test_/Release/Levels/L4.TXT -text
src/_Test_/Release/Levels/L5.TXT -text
src/_Test_/Release/Levels/L6.TXT -text
src/_Test_/Release/Levels/L7.TXT -text
src/_Test_/Release/Levels/L8.TXT -text
src/checkLineBreaks.pl -text
src/debian-data/DEBIAN/control.dist -text
src/debian-data/DEBIAN/md5sums -text
src/debian-data/DEBIAN/postinst -text
src/debian-data/DEBIAN/postrm -text
src/debian-data/usr/share/doc/bombermaaan-data/TODO -text
src/debian-data/usr/share/doc/bombermaaan-data/changelog.Debian.gz -text
src/debian-data/usr/share/doc/bombermaaan-data/copyright -text
src/debian/DEBIAN/control.dist -text
src/debian/DEBIAN/md5sums -text
src/debian/DEBIAN/postinst -text
src/debian/DEBIAN/postrm -text
src/debian/usr/share/applications/bombermaaan.desktop -text
src/debian/usr/share/doc/bombermaaan/Readme.html -text
src/debian/usr/share/doc/bombermaaan/TODO -text
src/debian/usr/share/doc/bombermaaan/changelog.Debian.gz -text
src/debian/usr/share/doc/bombermaaan/copyright -text
src/debian/usr/share/games/bombermaaan/Levels/L1.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L2.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L3.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L4.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L5.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L6.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L7.TXT -text
src/debian/usr/share/games/bombermaaan/Levels/L8.TXT -text
src/debian/usr/share/menu/bombermaaan -text
src/debian/usr/share/pixmaps/Bombermaaan.png -text
src/md5sum.pl -text
src/third-party/Makefile -text
src/third-party/simpleini/SimpleIni.h -text
src/third-party/tinyxml/Makefile -text
src/third-party/tinyxml/readme.txt -text
src/third-party/tinyxml/tinystr.cpp -text
src/third-party/tinyxml/tinystr.h -text
src/third-party/tinyxml/tinyxml.cpp -text
src/third-party/tinyxml/tinyxml.h -text
src/third-party/tinyxml/tinyxmlerror.cpp -text
src/third-party/tinyxml/tinyxmlparser.cpp -text
tools/create_release.sh -text
web/changelog.php -text
web/contact.php -text
web/css.php -text
web/development.php -text
web/download.php -text
web/faq.php -text
web/features.php -text
web/history.php -text
web/images/arena_item_0-bomb.png -text
web/images/arena_item_1-flame.png -text
web/images/arena_item_missing.png -text
web/images/bomber_a.png -text
web/images/feed-icon-14x14.png -text
web/images/title.png -text
web/inc/webpage.php -text
web/index.php -text
web/license.php -text
web/screenshots.php -text
web/standard.css -text
web/todo.php -text
