* text=auto

# convert line breaks between windows and linux
# (this should actually not be needed after specifing 'auto' above)
*.c text
*.cpp text
*.CPP text
*.h text
*.H text
*.php text
*.cgi text
*.rc text
Makefile text

# leave linux stuff even on windows
*.pl text eol=lf
*.scm text eol=lf
*.sh text eol=lf

# leave windows stuff
*.sln text eol=crlf
*.dsw text eol=crlf
*.dsp text eol=crlf
*.vcproj text eol=crlf
*.cmd text eol=crlf
*.iss text eol=crlf
*.nsi text eol=crlf
Makefile.win text eol=crlf

# ignore gfx
*.png binary
*.jpg binary
*.ico binary
# but convert svg
*.svg text
