[Desktop Entry]
Version=1.0
Name=Bombermaaan
Type=Application
Comment=Play a clone of the classic Bombermaaan game
Exec=Bombermaaan
Icon=Bombermaaan
Terminal=false
Hidden=false
Categories=Game;ActionGame;
